<!-- 
    File Name: project.ejs
    Student Name: Yee Ling Yuen
    Student ID: 301315346
    Date:   09-30-2023
 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer">
<div class="jumbotron">

    <h1> <%= title %> </h1>
    <fieldset>
        <h3>Project 1: C# Windows Forms App - Calculator</h3>
        <img src="img/pro_cSharpWinAppCal.jpg" alt="C# calculator"  width="500"></a>
        <p>This is a Calculator App created by C# Windows Form. 
            Besides the normal calculating function, the project can also provide 4 extra scientific functions. 
        </p><br>
      </fieldset>
    
      <fieldset>
        <h3>Project 2: The Bug Smasher Game</h3>
        <img src="img/pro_bugSmasherGame.jpg" alt="C# calculator"  width="500"></a>
        <p>This is a catach bug game that can be played on the browsers. 
            The player tries to catch the bug by clicking on it. If succeeds, 
            the score is incremented and the hopping interval is decremented  by a number of milliseconds, 
            so it gets harder to catch the bug. 
        </p><br>
      </fieldset>
      
      <fieldset>
        <h3>Project 3: Create table by JS loops</h3>
        <img src="img/pro_createTable.jpg" alt="C# calculator"  width="500"></a>
        <p>This is a dynamic function creates table 
            and displays in each cell the (row, column) information for that cell on the browsers. 
            It allow the user to select the number of rows and columns to redraw a new table 
        </p>
      </fieldset>
</div>

</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   