<!-- 
    File Name: services.ejs
    Student Name: Yee Ling Yuen
    Student ID: 301315346
    Date:   09-26-2023
 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer">
<div style="text-align: center;">

    <h1><%= title %></h1>

    <img src="img/sev_webdeve.jpg" alt="logo" width="350" height="auto">
    <h4>- Web Application Development</h4> <br><br>
    <img src="img/sev_programming.jpg" alt="logo" width="450" height="auto">
    <h4>- General Programming</h4><br><br>
    <img src="img/sev_mobileapp.jpg" alt="logo" width="450" height="auto">
    <h4>- UX/UI in Mobile Apps</h4>
</div>


</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   